<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neura.medicsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SamplePillsReceiver">
            <intent-filter>
                <action android:name="com.neura.medicationaddon.MorningPill" />
                <action android:name="com.neura.medicationaddon.EveningPill" />
                <action android:name="com.neura.medicationaddon.PillBoxReminder" />

                <action android:name="com.neura.medication.ACTION_NOTIFICATION_TOOK_PILLS" />
                <action android:name="com.neura.medication.ACTION_NOTIFICATION_REMIND_ME_LATER" />

            </intent-filter>
        </receiver>
    </application>

</manifest>